body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    border: 2px solid #121212;
    margin-left: 25%;
    background-color: #121212;
    display: flex;
    align-items: end;
    justify-content: end;
    border-radius: 12px;

}

.navbar ol li {
    display: flex;
    display: inline;
    list-style-type: none;
    margin-right: 40px;



}

.navbar #log a {
    border: 2px solid white;
    color: #121212;
    background-color: white;
    border-radius: 21px;
    text-decoration: none;
    padding: 10px;
    border-left-width: 10px;
    border-right-width: 10px;


}

.navbar #log a:hover {
    color: black;
   
     
    border-left-width: 12px;
    border-right-width: 12px; 
}

.navbar #sign a {
    color: grey;
    text-decoration: none;

}

.navbar #sign a:hover {
    color: white;

}

aside .sidebar {
    position: fixed;
    top: 0%;
    left: 0%;
    border-color: 2px solid #121212;
    width: 24%;
    height: 100%;
    border-radius: 12px;
    background-color: #121212;

}

/* .sidebar  li:first-child {
    padding: 10px 20px;
    border-bottom: 2px solid #303030;

  } */
aside .sidebar ul li a {
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

aside .sidebar ul li {
    margin-top: 20px;
    list-style-type: none;

}

.sidebar img,
a {
    margin-left: 12px;
    margin-bottom: -3px;

}

.seperation {
    border-bottom: 4px solid black;



}

.box h3,
h4 {
    color: white;
    padding-left: 36px;
}

.box {
    border: 2px solid white;
    width: 95%;
    height: 20vh;
    background-color: rgb(37, 35, 35);
    border-radius: 12px;
    border: rgb(66, 65, 65);
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth; 



}

.box button {
    height: 30px;
    width: 120px;
    border-radius: 16px;
    border: none;
    margin-left: 36px;

}

.box button:hover {
    height: 32px;
    width: 122px;
}

.footer a {
    color: rgb(177, 172, 172);
    margin-left: 36px;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    margin-top: 10px;


}

#lang {
    color: white;
    border: 2px solid gray;
    width: 100px;
    height: 30px;
    border-radius: 18px;
    margin-left: 36px;
    padding-left: 4px;
    padding-top: 4px;

}

#lang:hover {
    border-color: white;
    width: 105px;
    height: 31px;


}

p {
    color: gray;
    padding-left: 32px;
}


.artist {

    background-image: linear-gradient(to top, #121212 80%, rgb(37, 35, 35));
    width: 75%;
    height: 100%;
    margin-top: -21px;
    margin-left: 25%;
    border-radius: 2px;
}

.singer:hover {
    background-color: #1c1b1b;
    border-radius: 12px;

}

.play-btn .fa-play {
    background-color: #1db954;
    opacity: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 28px;
    height: 31px;
    position: relative;
    left: 130px;
    bottom: 50px;
    padding-top: 15px;
    padding-left: 20px;
}

.play-btn .fa-play:hover {
    background-color: #1db954;
    opacity: 1;
    cursor: pointer;
    border-radius: 50%;
    width: 28px;
    height: 31px;
    position: relative;
    left: 130px;
    bottom: 50px;
    padding-top: 15px;
    padding-left: 20px;
}

.artist h2 {
    color: white;
    padding-left: 20px;
    padding-top: 20px;
}

.singer img {
    width: 167px;
    height: 167px;
    object-fit: cover;
    padding-left: 18px;
    border-radius: 50%;

}

.artist .singer {
    display: flex;

}

.artist .album img {
    width: 167px;
    height: 167px;
    object-fit: cover;
    padding-left: 18px;
    border-radius: 6px;
}

.album {
    display: flex;
    /* position: relative; */
}

.album :hover {

    background-color: #1c1b1b;
    border-radius: 12px;
}

.play-btn2 .fa-play {
    background-color: #1db954;
    opacity: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 28px;
    height: 31px;
    position: relative;
    left: 130px;
    bottom: 50px;
    padding-top: 15px;
    padding-left: 20px;
}

.play-btn2 .fa-play:hover {
    background-color: #1db954;
    opacity: 1;
    cursor: pointer;
    border-radius: 50%;
    width: 28px;
    height: 31px;
    position: relative;
    left: 130px;
    bottom: 50px;
    padding-top: 15px;
    padding-left: 20px;
}

.artist .radio img {
    width: 167px;
    height: 167px;
    object-fit: cover;
    padding-left: 18px;
    border-radius: 6px;
}

.radio :hover {

    background-color: #1c1b1b;
    border-radius: 12px;
}

.radio {
    display: flex;
}

.play-btn3 .fa-play {
    background-color: #1db954;
    opacity: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 28px;
    height: 31px;
    position: relative;
    left: 130px;
    bottom: 50px;
    padding-top: 15px;
    padding-left: 20px;
}

.play-btn3 .fa-play:hover {
    background-color: #1db954;
    opacity: 1;
    cursor: pointer;
    border-radius: 50%;
    width: 28px;
    height: 31px;
    position: relative;
    left: 130px;
    bottom: 50px;
    padding-top: 15px;
    padding-left: 20px;
}

.artist .featured img {
    width: 167px;
    height: 167px;
    object-fit: cover;
    padding-left: 18px;
    border-radius: 6px;
}

.featured :hover {

    background-color: #1c1b1b;
    border-radius: 12px;
}

.featured {
    display: flex;
}

.play-btn4 .fa-play {
    background-color: #1db954;
    opacity: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 28px;
    height: 31px;
    position: relative;
    left: 130px;
    bottom: 50px;
    padding-top: 15px;
    padding-left: 20px;
}

.play-btn4 .fa-play:hover {
    background-color: #1db954;
    opacity: 1;
    cursor: pointer;
    border-radius: 50%;
    width: 28px;
    height: 31px;
    position: relative;
    left: 130px;
    bottom: 50px;
    padding-top: 15px;
    padding-left: 20px;
}



 .footer2 {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    
} 

 .footer-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color: rgb(121, 115, 115);
} 

.footer-item a:hover {
    text-decoration: underline;
    color: white;
}

 .names {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}  

.names a {
    color: white;
    text-decoration: none;
    font-weight: 500;

}

.footer-item a {
    color: rgb(121, 115, 115);
    text-decoration: none;
    margin-top: 10px;

}
.social-media {
  display: flex;
  justify-content: space-around;
   padding-right: 5px;
   cursor: pointer;
   font-size: 25px;
} 

/* media querry */
@media screen and (max-width:320px) {
 .artist{
    margin-left: 100%;
 }
 .navbar{
   

 }
 
.footer2 {
   
}
.social-media{
    
}
}